<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" CONTENT="no-cache">
<meta http-equiv="Expires" CONTENT="-1">
<meta http-equiv="cache-control" CONTENT="no-cache">
<title>{{description}}</title>

</head>

<body>

<a href="{{destination}}"><img src="{{imagesource}}"></a>
<p>{{description}}</p>

<ul>
<li>Rotate left
<li>Rotate right
<li>Thumbs up
<li>Thumbs down
<li>Star
<li>Not safe
</ul>

<p>Add tag:</p>

<p>Add location:</p>

<p>Add photographer:</p>

<pre>
{{exifdata}}
</pre>

</body>
</html>
