<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" CONTENT="no-cache">
<meta http-equiv="Expires" CONTENT="-1">
<meta http-equiv="cache-control" CONTENT="no-cache">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@vees" />
<meta name="twitter:creator" content="@vees" />
<meta name="twitter:image" content="{{imagesource}}">
<meta name="twitter:title" content="{{description}}">
<meta name="twitter:description" content="A picture from Rob Carlson's photo gallery">
<meta property="og:site_name" content="Rob Carlson">
<meta property="og:image" content="{{imagesource}}">
<meta property="og:url" content="http://vees.net/{{contentkey}}/" />
<meta property="og:title" content="{{description}}" />
<meta property="og:description" content="{{description}}" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17387206-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<title>{{description}}</title>

</head>

<body>

<a href="{{destination}}"><img src="{{imagesource}}"></a>
<p>{{description}}</p>

<ul>
<li>Rotate left
<li>Rotate right
<li>Thumbs up
<li>Thumbs down
<li>Star
<li>Not safe
</ul>

<p>Add tag:</p>

<p>Add location:</p>

<p>Add photographer:</p>

<pre>
{{exifdata}}
</pre>

</body>
</html>
