{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" CONTENT="no-cache">
<meta http-equiv="Expires" CONTENT="-1">
<meta http-equiv="cache-control" CONTENT="no-cache">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@vees" />
<meta name="twitter:creator" content="@vees" />
<meta name="twitter:image" content="https://vees.net{{imagesource}}">
<meta name="twitter:title" content="{{description}}">
<meta name="twitter:description" content="A picture from Rob Carlson's photo gallery">
<meta property="og:site_name" content="Rob Carlson">
<meta property="og:image" content="{{imagesource}}">
<meta property="og:url" content="https://vees.net/{{contentkey}}/" />
<meta property="og:title" content="{{description}}" />
<meta property="og:description" content="{{description}}" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17387206-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="{% static "exo/jquery-2.1.4.js" %}"></script>
<script>
$( document ).ready(function() {
    $( ".apiclick" ).click(function( event ) {
        var link = $(this).attr('href');
        $.get(link);
        $(this).css("font-weight","Bold");
        event.preventDefault();
   });
});
</script>
<style>
ul li{
  display: inline;
  list-style:none;
  list-style-type: none;
  margin:0;
  padding:0;
}

img { border-style: solid; color: #000; }

#pictureframe { float: left; padding: 7px;}
</style>
<title>{{description}}</title>

</head>

<body>

<div id="pictureframe">
<p>
{% if request.user.is_authenticated %}
<a href="/{{nextuntagged}}/">
{% endif %}
<img src="{{imagesource}}">
{% if request.user.is_authenticated %}
</a>
{% endif %}
</p>
</div>
<p>Description: {{description}}</p>
Tags: <ul>
{% for tag in pagetags %}
<li><strong><a href="/tags/{{tag.slug}}">{{tag.slug}}</a></strong>
{% endfor %}
</ul>
<p>MD5: {{signature.md5}}</p>
<p>SHA2: {{signature.sha2}}</p>


{% if request.user.is_authenticated %}

<p>
<a href="{{nextuntagged}}">Next Untagged</a> {{untaggedremain}}
<a href="{{destination}}">Random</a>
</p>

<ul>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rotate/0/">0</a>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rotate/90/">90</a>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rotate/180/">180</a>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rotate/270/">270</a>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rating/0/">0</a>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rating/1/">1</a>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rating/2/">2</a>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rating/3/">3</a>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rating/4/">4</a>
<li><a class="apiclick" href="/api/photo/{{contentkey}}/rating/5/">5</a>
</ul>

<ul>
{% for tag in commontags %}
<li>
{% ifchanged %}({{ tag.tagged_sig }}){% endifchanged %}
<a class="apiclick" href="/api/photo/{{contentkey}}/tag/{{tag.slug}}/">{{tag.slug}}</a>
</li>
{% endfor %}
</ul>

<ul>
{% for tag in alltags %}
<li>
{% ifchanged %}({{ tag.tagged_sig }}){% endifchanged %}
<a class="apiclick" href="/api/photo/{{contentkey}}/tag/{{tag.slug}}/">{{tag.slug}}</a>
</li>
{% endfor %}
</ul>
<!--
<li>Thumbs up
<li>Thumbs down
<li>Star
<li>Not safe
-->
</ul>



<form action="/api/photo/{{contentkey}}/tag/" method="get">
<input name="attribute"> <input type="submit">
</form>

<p>Add tag:</p>

<p>Add location:</p>

<p>Add photographer:</p>

<div id="exifdiv" style="display: none;">
<pre>
{{exifdata}}
</pre>
</div>

{% endif %}

</body>
</html>
