<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
td{
font-family: verdana, arial, helvetica, sans-serif;
font-size: 10pt;
font-style: normal;
font-variant: normal;
font-weight: normal;
}

tr.critical { background-color: #faa; }
tr.warning { background-color: #ffa; }
tr.good { background-color: #6f6; }
tr.overkill { background-color: #aff; }

</style>
</head>
<body>
<p>
<div class="pagination">
    <span class="step-links">
        {% if signatures.has_previous %}
            <a href="/admin/redundancy/{{ signatures.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ signatures.number }} of {{ signatures.paginator.num_pages }}.
        </span>

        {% if signatures.has_next %}
            <a href="/admin/redundancy/{{ signatures.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</p>

<table border="1">
<tr>
<td>Key</td>
<td>Signatures</td>
<td>Instances</td>
<td>Tags</td>
<td>Total Copies</td>
</tr>
{% for signature in signatures %}
<tr class="{{signature.severity}}">
<td>
<a href="/{{signature.content_key.key}}/">{{signature.content_key.key}}</a>
</td>
<td>
{{signature.md5}}<br/>
{{signature.sha2}}
</td>
<td>
{% for instance in signature.contentinstance_set.all %}
{{instance.content_container}}:{{instance.relpath}}/{{instance.filename}}<br/>
{% endfor %}
</td>
<td>
{% for tag in signature.tags.all %}
{{tag.slug}}
{% endfor %}
</td>
<td>
{{signature.content_instance_count}}
</td>
</tr>
{% endfor %}


</body>
</html>
