<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" CONTENT="no-cache">
<meta http-equiv="Expires" CONTENT="-1">
<meta http-equiv="cache-control" CONTENT="no-cache">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17387206-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<style>
ul li{

}
</style>
<title>{{slug}}</title>

</head>

<body>

<h1>{{slug}}</h1>

<ul>
{% for key,value in tagdict.items %}

<li><a href="/{{key}}/"><strong>{{key}}</strong>: {{value}} <img src="{% url "crop_by_contentkey" key %}"</a></li>

{% endfor %}
</ul>

<p><a href="/tags">All tags</a>
</body>
</html>
